@model PersonAddRequest

@{
 ViewBag.Title = "Create Person";
}

<a asp-controller="Persons" asp-action="Index" class="link-hover">Back to Persons List</a>
<h2>Create Person</h2>

<div class="center-box">
 <form asp-controller="Persons" asp-action="Create" method="post">

  @*PersonName*@
  <div class="form-field flex">
   <div class="w-25">
    <label asp-for="PersonName" class="form-label pt">Person Name</label>
   </div>
   <div class="flex-1">
    <input asp-for="PersonName" class="form-input" />
    <span asp-validation-for="PersonName" class="text-red"></span>
   </div>
  </div>


  @*Email*@
  <div class="form-field flex">
   <div class="w-25">
    <label asp-for="Email" class="form-label pt">Email</label>
   </div>
   <div class="flex-1">
    <input asp-for="Email" class="form-input" />
    <span asp-validation-for="Email" class="text-red"></span>
   </div>
  </div>

  @*DateOfBirth*@
  <div class="form-field flex">
   <div class="w-25">
    <label asp-for="DateOfBirth" class="form-label pt">Date of Birth</label>
   </div>
   <div class="flex-1">
    <input type="date" asp-for="DateOfBirth" class="form-input" />
    <span asp-validation-for="DateOfBirth" class="text-red"></span>
   </div>
  </div>

  @*Gender*@
  <div class="form-field flex">
   <div class="w-25">
    <label class="form-label">Gender</label>
   </div>
   <div class="flex-1">
    @{
     string[] genders = (string[])Enum.GetNames(typeof(GenderOptions));
    }
    @foreach (string gender in genders)
    {
     <input type="radio" asp-for="Gender" value="@gender" id="@gender" />
     <label for="@gender">@gender</label>
    }
    <span asp-validation-for="Gender" class="text-red"></span>
   </div>
  </div>

  @*Country*@
  <div class="form-field flex">
   <div class="w-25">
    <label class="form-label" asp-for="CountryID">Country</label>
   </div>
   <div class="flex-1">
    <select asp-for="CountryID" class="form-input" asp-items="@ViewBag.Countries">
     <option value="">Please Select</option>
    </select>
    <span asp-validation-for="CountryID" class="text-red"></span>
   </div>
  </div>


  @*Address*@
  <div class="form-field flex">
   <div class="w-25">
    <label asp-for="Address" class="form-label pt">Address</label>
   </div>
   <div class="flex-1">
    <textarea asp-for="Address" class="form-input"></textarea>
    <span asp-validation-for="Address" class="text-red"></span>
   </div>
  </div>

  @*ReceiveNewsLetters*@
  <div class="form-field flex">
   <div class="w-25">
   </div>
   <div class="flex-1">
    <input asp-for="ReceiveNewsLetters" value="true" />
    <label asp-for="ReceiveNewsLetters" class="form-label">Receive News Letters</label>
    <span asp-validation-for="ReceiveNewsLetters" class="text-red"></span>
   </div>
  </div>

  @*Submit*@
  <div class="form-field flex">
   <div class="w-25">
   </div>
   <div class="flex-1">
    <button class="button button-green-back">Create</button>

    <div asp-validation-summary="All" class="text-red"></div>

    @if (ViewBag.Errors != null)
    {
     <div class="text-red ml">
      <ul>
       @foreach (string error in ViewBag.Errors)
       {
        <li class="ml">@error</li>
       }
      </ul>
     </div>
    }
   </div>
  </div>

 </form>
</div>

@section scripts
 {
 @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>*@
}