@model Dictionary<string, object>

<img src="@Model["logo"]" width="200px" />
<h1>@Model["name"] (@Model["ticker"])</h1>
<span class="pill">@Model["finnhubIndustry"]</span>

<h3 class="mb">Exchange: <span class="pill">@Model["exchange"]</span></h3>

<h1 class="stock-price"><span class="text-grey">$</span> @Model["price"]</h1>
<a class="button-link button-blue-back" id="trade-button" href="~/Trade/Index/@Model["ticker"]">Trade Now</a>

