@model IEnumerable<PersonResponse>

@{
 ViewBag.Title = "Persons";
}

<h1>Persons</h1>

<table class="table w-100 mt">
 <thead>
  <tr>
   <th>Person Name</th>
   <th>Email</th>
   <th>Date of Birth</th>
   <th>Age</th>
   <th>Gender</th>
   <th>Country</th>
   <th>Address</th>
   <th>Receive News Letters</th>
  </tr>
 </thead>
 <tbody>
  @foreach (PersonResponse person in Model)
  {
   <tr>
    <td>@person.PersonName</td>
    <td>@person.Email</td>
    <td>@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
    <td>@person.Age</td>
    <td>@person.Gender</td>
    <td>@person.Country</td>
    <td>@person.Address</td>
    <td>@person.ReceiveNewsLetters</td>
   </tr>
  }
  <tr></tr>
 </tbody>

</table>
